
@{
    ViewBag.Title = "Loading";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<head>
    <link href="~/css/loading.css" rel="stylesheet" />

</head>
<body>

    <div id="loading-wrapper">
        <div id="loading-text">LOADING</div>
        <div id="loading-content"></div>
    </div>

</body>