
@{
    ViewBag.Title = "Win";
}

<style type="text/css">
    .win {
        z-index: 1000;
        position: relative;
        max-width: 530px;
        border-radius: 6px;
        box-shadow: 0 0 30px #000;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 40px 60px 0;
        overflow: hidden;
        transform-style: preserve-3d;
        margin-top:100px
    }

</style>
<html>
<body>
    <div class="win" >
        <img style="margin-left:80px" src="~/img/kazandın.png" />

    </div>
    <div style="text-align:center;margin-top:50px;">
        <h3
            >Tebrikler! Kazandın <span style="color:gold">Bill</span> hesabında yüklendi</h3><br />
        <h6>Unutma , çarkı çevirerek yarışmalardaki şansını arttırabilirsin </h6><br />
        <h6>Bol Şans!</h6>
    </div>
</body>
</html>


